/*  your css code here. If applicable */
body{
	margin: 0px;
	padding: 0px;
	background-color: #f5f5f5;
}

h1{
	margin-top: 10px;
	margin-left: 10px;
}

.container{
	margin: 10px;
	padding: 10px 10px;
	background-color: white;
	border: 2px solid black;
}

.container .author{
/* 	margin-left: 490px; */
	font-size: 15px;
	text-align: right;
	font-style: italic;
}
.container p{
	
}
